{% extends "base_authenticated.html" %}
{% load static %}

{% block main_content %}

<div class="container mx-auto p-4">
    <div class="top-0 left-0 pt-5 pl-5">
        <a href="{% url 'course_page' course_id %}" class="text-white bg-blue-700 
        hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg 
        text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Back</a>
    </div>
    <h2 class="text-2xl font-semibold mb-4 text-center">Enrolled Students</h2>
    <div class="flex overflow-x-auto items-center justify-center">
        <table class="min-w-full table-auto shadow-md rounded-lg">
            <thead class="bg-slate-400">
                <tr>
                    <th class="px-4 py-2 text-left">Username</th>
                    <th class="px-4 py-2 text-left">First Name</th>
                    <th class="px-4 py-2 text-left">Last Name</th>
                    <th class="px-4 py-2 text-left">Enrolled At</th>
                    <th class="px-4 py-2 text-left">Status</th>
                    <th class="px-4 py-2 text-left">Actions</th>
                </tr>
            </thead>
            <tbody class="text-white">
                {% for enrollment in page_obj %}
                    <tr class="border-b">
                        <td class="px-4 py-2">{{ enrollment.student.username }}</td>
                        <td class="px-4 py-2">{{ enrollment.student.first_name }}</td>
                        <td class="px-4 py-2">{{ enrollment.student.last_name }}</td>
                        <td class="px-4 py-2">{{ enrollment.enrolled_at }}</td>
                        <td class="px-4 py-2">{{ enrollment.status }}</td>
                        <td class="px-4 py-2 flex space-x-2">
                            <a href="{{ enrollment.student.url }}" class="inline-block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 transition duration-300 ease-in-out">View Profile</a>
                            <button data-enrollment-id="{{ enrollment.enrollment_id }}" class="toggle-block-status inline-block text-white font-medium rounded-lg text-sm px-4 py-2 transition duration-300 ease-in-out {{ enrollment.blocked|yesno:'bg-green-700 hover:bg-green-800, bg-red-700 hover:bg-red-800' }}" >
                                {{ enrollment.blocked|yesno:'Unblock,Block' }}
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    document.querySelectorAll('.toggle-block-status').forEach(button => {
                        button.addEventListener('click', function() {
                            const enrollmentId = this.getAttribute('data-enrollment-id');
                            fetch(`/api/update_blocked_status/${enrollmentId}/`, {
                                method: 'PATCH',
                                headers: {
                                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                                    'Content-Type': 'application/json',
                                },
                            })
                            .then(response => {
                                if (response.ok) {
                                    window.location.reload();
                                } else {
                                    alert('Failed to update the enrollment status.');
                                }
                            })
                            .catch(error => console.error('Error:', error));
                        });
                    });
                });
                </script>
        </table>
    </div>
    <div class="flex justify-between items-center mt-4">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="text-white 
            bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 
            font-medium rounded-lg text-sm px-4 py-2 transition duration-300 ease-in-out">Previous</a>
        {% else %}
            <div></div>
        {% endif %}

        <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="text-white 
            bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 
            font-medium rounded-lg text-sm px-4 py-2 transition duration-300 ease-in-out">Next</a>
        {% else %}
            <div></div>
        {% endif %}
    </div>
</div>
{% endblock%}