{% extends "base_authenticated.html" %}
{% load static %}

{% block main_content %}
<div class="flex">
    {% if is_own_profile %}
    <div class="w-3/5 flex flex-col items-center m-5">
        <!--Profile card-->
        <div class="w-full flex items-center justify-center bg-slate-400 rounded-lg p-4 space-x-4">
            <!--Image Container-->
            <div class="flex justify-center w-full">
                <img src="{% if user.profile_img %}{{ user.profile_img.url }}{% else %}{% static 'images/default_user.png' %}{% endif %}" alt="Profile Image" class="w-48 h-48 rounded-full">
            </div>
            <!--Text Container-->
            <div class="text-center w-full mt-4">
                <div class="font-bold text-5xl mb-2">{{ user.first_name }} {{ user.last_name }}</div>
                <div class="whitespace-normal p-2">                    
                    <strong>Username:</strong> {{ user.username }}<br>
                    <strong>Account type:</strong> {% if user.is_teacher %}Teacher{% else %}Student{% endif %}<br>
                    <strong>Contact at:</strong> {{ user.email }}<br>
                    <strong>Date of Birth:</strong> {{ user.date_of_birth|date:"Y-m-d" }}<br>
                    <strong>Bio:</strong> {{ user.bio }}
                </div>
            </div>
            <!--Edit Buttons-->
            <div class="flex flex-col w-full items-center justify-center space-y-2">
                <form action="{% url 'update_profile' %}" method="get" class="w-full">
                    {% csrf_token %}
                    <button type="submit" class="w-full mb-6 text-white bg-blue-700 
                    hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg 
                    text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800  
                ">Edit Profile</button>
                </form>
                <!--REMEMBER TO UPDATE URL-->
                <form action="{% url 'update_profile' %}" method="get" class="w-full">
                    {% csrf_token %}
                    <button type="submit" class="w-full mt-6 text-white bg-blue-700 
                    hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg 
                    text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800                
                ">Change Password</button>
                </form>
            </div>
        </div>
        <!--Add Status Update Card-->
        <div class="w-full flex items-center justify-center bg-slate-400 rounded-lg p-4 mt-4 space-x-4">
            <form id="statusUpdateForm" action="{% url 'create_status_update' %}" method="POST" class="w-full">
                {% csrf_token %}

            </form>
        </div>
    </div>
    <div class="w-2/5 flex flex-col items-center m-5">
        <!--Registered Courses card-->
        <div class="w-full flex items-center justify-center bg-slate-400 rounded-lg p-4 space-x-4">

        </div>
    </div>
    {% else %}

    {% endif %}
</div>
{% endblock %}