{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Elearning Website for CM3035">
        <meta name="keywords" content="HTML, elearning, UOL, advanced web development">
        <meta name="author" content="Adam Randon">
        <link rel="stylesheet" href="{% static 'css/output.css' %}" type="text/css">
        <title>ELearn</title>
    </head>
    <body class="bg-primary">

        {% block content %}

        {% endblock %}
        <footer class="footer">
            <p class="text-white" style="opacity: 0.5; text-align: center;">Student no. 220528366 CM3035 Assignment - Advanced Web Development Final 50%</p>
        </footer>
        <script src="{% static 'elearning_base/js/main.js' %}"></script>
    </body>
</html>